<h1>What do you need?</h1>

<%= link_to schools_apply_path do %>
  <div class="jumbotron">
    <h1>I want to apply for a school place</h1>

    <p>...</p>
  </div>
<% end %>

<a href="#">
  <div class="jumbotron">
    <h1>I want to appeal a decision</h1>

    <p>...</p>
  </div>
</a>
