<%= render 'out_of_scope' %>

<p>You could expect to see a single map with both schools, with a focus on how many pupils got in
   at each priority level. Those priority levels would be documented directly on the site, without needing an external
   PDF to understand.</p>
