<%= content_for :head do %>
  <link rel="alternate"
        type="application/vnd.geo+json"
        href="<%= schools_path(format: :geojson) %>">
<% end %>


<h2><%= "#{@schools.count} schools" %></h2>
<div id="map"></div>

<%= render 'table' %>
