// Contention
$very-positive: #63BE7B;
$positive: #B1D580;
$neutral: #FFEB84;
$null:  silver;
$negative: #FBAA77;
$very-negative: #F8696B;

// Maps
$cluster-colour: #6b7d90;
$map-site-highlight: #90a6fc;
$row-site-highlight: #d2ddfc;

// UI
$not-on-map: #eeeeee;
