// Place all the styles related to the schools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.control-group {
  margin-bottom: 2em;
}

table.schools {
  .school {
    .zoom {
      padding-right: 0
    }
  }
}

$padding-dl-and-reason: 1%;

div.school {
  .badge {
    font-size: 120%;
  }

  .places {
    white-space: nowrap;
  }

  dl.admissions-graph {
    @extend .pull-right;
  }
}

.school, .leaflet-popup-content {
  overflow: auto;

  &.highlighted {
    background-color: $row-site-highlight !important;
  }

  .badge {
    color: black;
  }
}

.school-details {
  clear: left;

  overflow: auto;
  dl {
    padding: $padding-dl-and-reason;

    dt {
      line-height: 1.5em;
      font-weight: bold;
      display: inline-block;
      clear: left;
      float: left;
    }

    dd {
      float: right;
    }
  }
}

.badge-contention-high    { color: black; background-color: $negative; }
.badge-contention-medium  { color: black; background-color: $neutral; }
.badge-contention-low     { color: black; background-color: $positive; }
.badge-contention-unknown { color: black; background-color: $null; }
